<appSettings>
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.URLRewritingMode" value="Translit" />
 <add key="YAF.UseSMTPSSL" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
 <add key="YAF.DatabaseOwner" value="dbo" />
 <add key="YAF.ConnectionStringName" value="yafnet" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
 <add key="YAF.FileRoot" value="~/forum" />
 <add key="YAF.AppRoot" value="~/forum" />
 <add key="YAF.EnableURLRewriting" value="true" />
 <add key="YAF.BaseUrlMask" value="http://192.168.2.10/yaftest/" />
 <add key="YAF.BaseScriptFile" value="forum.aspx" />
 <add key="YAF.ForceScriptName" value="forum.aspx" />
 <add key="YAF.RadEditorSkin" value="Black" />
 <add key="YAF.UseRadEditorToolsFile" value="true" />
 <add key="YAF.RadEditorToolsFile" value="/forum/editors/radEditor/toolsFile.xml" />
 <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
 <add key="YAF.ConfigPassword" value="pass" />
</appSettings>
