<rewriter>
  <!-- Advanced URL Rewriting Format -->
  <rewrite url="^~/(.+?)?error.aspx$" to="~/$1error.aspx" processing="stop" />
  <rewrite url="^~/(.+?)?install/default.aspx?(\?(.+))?$" to="~/$1install/default.aspx?$2" processing="stop" />
  <rewrite url="^~/(.+?)?install/$" to="~/$1install/default.aspx?$2" processing="stop" />
  <rewrite url="^~/(.+?)?info?\?i=([0-9]+?)&amp;url\=(.+)$" to="~/$1forum.aspx?g=info&amp;i=$2&amp;url=$3" processing="stop" />
  <rewrite url="^~/(.+)?topics/([0-9]+)-((.+))?(/page([0-9]+))(\?(.+))?$" to="~/$1forum.aspx?g=topics&amp;f=$2&amp;p=$6&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?topics/([0-9]+)-((.+))?(\?(.+))?$" to="~/$1forum.aspx?g=topics&amp;f=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?/category/([0-9]+)-(([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+))?(\?(.+))?$" to="~/$1/forum.aspx?g=forum&amp;c=$2&amp;$6" processing="stop" />" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)-((.+))?(/page([0-9]+))(\?(.+))?$" to="~/$1forum.aspx?g=posts&amp;t=$2&amp;p=$6&amp;$8" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)-((.+))?(\?(.+))?$" to="~/$1forum.aspx?g=posts&amp;t=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?posts/m([0-9]+)-((.+))?(\?(.+))?$" to="~/$1forum.aspx?g=posts&amp;m=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?userprofile/([0-9]+)-((.+))?$" to="~/$1forum.aspx?g=userprofile&amp;u=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?admin/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=admin_$2_$3&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?admin/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=admin_$2&amp;$4" processing="stop" />
  <rewrite url="^~/(.+)?moderate/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=moderate_$2_$3&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?moderate/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=moderate_$2&amp;$4" processing="stop" />
  <rewrite url="^~/(.+)?profile/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=profile_$2_$3&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?profile/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=profile_$2&amp;$4" processing="stop" />
  <rewrite url="^~/(.+)?account/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=account_$2_$3&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?account/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1forum.aspx?g=account_$2&amp;$4" processing="stop" />
  <rewrite url="^~/(.+)?feed/([0-9]+)-f([0-9]+)-((.+))?$" to="~/$1forum.aspx?g=feed&amp;feed=$2&amp;f=$3" processing="stop" />
  <rewrite url="^~/(.+)?feed/([0-9]+)-c([0-9]+)-((.+))?$" to="~/$1forum.aspx?g=feed&amp;feed=$2&amp;c=$3" processing="stop" />
  <rewrite url="^~/(.+)?feed/([0-9]+)-t([0-9]+)-((.+))?$" to="~/$1forum.aspx?g=feed&amp;feed=$2&amp;t=$3" processing="stop" />
  <rewrite url="^~/(.+)?feed/([0-9]+)-((.+))?$" to="~/$1forum.aspx?g=feed&amp;&amp;feed=$2" processing="stop" />

  <if url="^((?!signin-|sitemap\.xml\.ashx|\.asmx|\.axd|\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js|install|error|auth\.aspx|default\.aspx|popup\.aspx|advanced\.aspx|digest\.aspx|api).)*$">
    <rewrite url="^~/forum/(.+)?\?(.+)?$" to="~/forum/forum.aspx?g=$1&amp;$2" processing="stop" />
    <rewrite url="^~/forum/(.+)?$" to="~/forum/forum.aspx?g=$1" processing="stop" />
    <rewrite url="^~/forum/(.+)?\.aspx$" to="~/forum/forum.aspx?g=$1" processing="stop" />
  </if>
  <if url="^((?!\api).)*$">
    <rewrite url="^~/forum/api/(.+)?$" to="~/api/$1" processing="stop" />
  </if>
</rewriter>