@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web


<Router AppAssembly="typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="routeData" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<p role="alert">Sorry, there's nothing at this address.</p>
	</NotFound>
</Router>