@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to ASP.NET and the YAF.NET Sample Application</h1>
    <p class="lead">
        This Is a Sample Demo Application that shows the Integration of YAF.NET as a Control in to an existing ASP.NET Application.
    </p>
    <p> To learn more about YAF.NET visit <a href="http://www.yetanotherforum.net" title="YAF.NET Website">YAF.NET Website</a>.</p>
</div>