name: YAF.SampleApp v4 (.NET v8)
on:
  push:
    branches:
      - master
      
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        working-directory: ./
        run: dotnet restore ./YAF.SampleApp.sln
      - name: Build
        working-directory: ./
        run: dotnet build ./YAF.SampleApp.sln